<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daylyweb.music.dao.AdminDao" >
  <resultMap id="BaseResultMap" type="com.daylyweb.music.mapper.Admin" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="head" property="head" jdbcType="VARCHAR" />
    <result column="lasttime" property="lasttime" jdbcType="TIMESTAMP" />
    <result column="lastip" property="lastip" jdbcType="VARCHAR" />
  </resultMap>
  
  <cache />
  
  <sql id="Base_Column_List" >
    id, username, password, nickname, head, lasttime, lastip
  </sql>
  
  <select id="getByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" /> from user_admin where username=#{username,jdbcType=VARCHAR}
  </select>
  
  <insert id="insert" parameterType="com.daylyweb.music.mapper.Admin" >
    insert into user_admin (id, username, password, 
      nickname, head, lasttime, 
      lastip)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{head,jdbcType=VARCHAR}, #{lasttime,jdbcType=TIMESTAMP}, 
      #{lastip,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.daylyweb.music.mapper.Admin" >
    insert into user_admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="head != null" >
        head,
      </if>
      <if test="lasttime != null" >
        lasttime,
      </if>
      <if test="lastip != null" >
        lastip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="head != null" >
        #{head,jdbcType=VARCHAR},
      </if>
      <if test="lasttime != null" >
        #{lasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastip != null" >
        #{lastip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.daylyweb.music.mapper.Admin">
  	update user_admin
  	<set >
      <if test="username != null" >
       username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
       password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="head != null" >
        head = #{head,jdbcType=VARCHAR},
      </if>
      <if test="lasttime != null" >
       	lasttime = #{lasttime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastip != null" >
        lastip = #{lastip,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>