<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daylyweb.music.dao.InfoDao" >
  <resultMap id="BaseResultMap" type="com.daylyweb.music.mapper.Info" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="info" property="info" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, info, time
  </sql>
  
  <!-- 查询 -->
  <select id="select" parameterType="Map" resultMap="BaseResultMap" useCache="false">
  	select SQL_CALC_FOUND_ROWS * from log_info
  	<if test="keyword!=null or timestart!=null or timeend!=null">
  		where
  		<if test="keyword!=null">info LIKE CONCAT("%",#{keyword,jdbcType=CHAR},"%")</if>
  		<if test="keyword!=null and timestart!=null">and</if>
  		<if test="timestart!=null"> time <![CDATA[>]]>#{timestart,jdbcType=TIMESTAMP}</if>
  		<if test="timestart!=null and timeend!=null">and</if>
  		<if test="timeend!=null">time <![CDATA[<]]> #{timeend,jdbcType=TIMESTAMP}</if>
  	</if>
		order by time desc
  	<if test="start >=0 and limit>0" >
    	limit #{start,jdbcType=INTEGER},#{limit,jdbcType=INTEGER}
    </if>
  </select>
  
    <!-- 获取上次查询的总数 -->
  <select id="getLastCount" useCache="false" resultType="java.lang.Integer">
	  	SELECT FOUND_ROWS()
  </select>
  
  <!-- 删除全部 -->
  <update id="deleteAll" >
	truncate log_info
  </update>
</mapper>